 #navigation {
            background: rgba(55, 71, 79, 1.0);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        }
		
		

		
	#welcome{
	height: 50vh;
	padding-top: 50px;
	
	}
	
	#welcome h1{
	color: white;
	padding-top: 20px;
	font-family: Courier New, Times, serif;
	font-size: 75px;
	font-weight: bold;
	}
	#welcome p{
	color: white;
	font-family: Courier New, Times, serif;
	font-size: 25px;
	}
	
	.bgSizeCover{
  height: 450px;
  background-image: url('drop2.jpg');
  background-size: cover;
  
  color: #000;
	}
	
		
		
		#about{
		
		background-color: #1a1a1a;
		padding-bottom: 20px;
		}
		
		#about h1{
		color: white;
		}
		
		#about p{
		color: white;
		font-size: 22px;
		padding-left: 100px;
		padding-right: 100px;
		}
		
	
		
		#projects {
  padding-top: 50px;
  background-image: url("drop2.jpg");
  background-size: cover;
            
			
		}
	#projects h1{
	color:white
	}
	
	
	#skills{
		
		background-color: #0d0d0d;
		}
		
	#skills h1{
	color: white;
	}
	
	#icon{
	color: white;
	padding: 25px;
	}
	
	#contact{
	background-color: black;
	}
	
	#contact h1{
	color: white;
	}
	
	#contact p{
	color:white;
	font-size: 20px;
	}
	
	.fa {
	padding: 30px;
	
	}
	
	.fa:hover {
		color: #1aff1a;
	}
	
	
	

	
	
	
	